@import "widget.scss";

* {
    body {
        background-color: black;

        div#Container {
            flex-direction: column;
            gap: 1vh;
            justify-content: left;

            h1 {
                font-size: 4em;
                color: lighten(#a20352ff, 10%);
            }

            h2 {
                font-size: 2em;
                color: lighten(#a20352ff, 10%);
            }

            div {
                p#Cagnotte {
                    font-size: 15em !important;
                    top: 0px;
                    color: white !important;
                }

                p#BestDonator {
                    font-size: 2em !important;
                    top: 0px;
                    color: darken(#fbc90bff, 10%) !important;

                    span.secondary {
                        color: white !important;
                    }
                }
            }

            img {
                width: 80vw;
            }
        }
    }
}
