$warlockColor: #6a83ff;
$errorColor: #ff6b6b;

@import 'fonts.scss';

* {
    margin: 0 ! important;
    padding: 0 ! important;
    overflow: hidden;
    text-align: center;
    font-family: Matter;
    font-weight: bolder;

    body {
        background-color: #00000000;
        border: 0 ! important;

        > div {
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            overflow: visible;

            > div {
                overflow: visible;
                > p {
                    width: fit-content;
                    position: relative;
                }
            }
        }

        p {
            white-space: nowrap;
        }

        span.mini {
            display: flow;
            margin-top: -6px !important;
            font-size: 0.6em;
        }

        span.manualSeperation {
            display: inline-block;
        }
    }
}